.detailsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 7rem;
    
}

.col {
    width: 350px;
    margin: 15px;
    height: auto; 
}

.col2 {
    max-width: 550px;
    margin: 15px;
    height: auto;
    margin-top: 0px;
}

.movieImage {
    border-radius: 15px;
}

.imdb {
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    background: #f9a302;
    border-radius: 3px;
    line-height: 15px;
    padding: 4px 8px;
    margin-left: 2px;
    
}

.columna {
    column-count: 2;
    column-gap: 3em;
    column-rule: 1px solid #bbb;
    padding: 1rem 0rem 2rem;
    
}

@media (max-width: 500px) {
    .columna {
        column-count: 1;
    }
        .col2 {
            width: 350px;
            margin: 15px;
            height: auto;
            margin-top: 0px;
        }
}

.prom{
    background: rgba(0,0,0,.3);
    color: rgba(222,231,247,.8);
    padding: 10px 12px;
    border-radius: 25px;
    font-size: 15px;
    line-height: 22px;
}

.logoprom {
    width: 15px;
    height: auto;
    margin-right: 8px;
    
}