.moviesGrid{
  
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    gap: 40px;
    padding: 40px;
    justify-content: center;
}

.title {
    margin-top: 6rem;
    padding-left: 7.5rem;
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    line-height: 130%;
    text-transform: uppercase;
    width: auto;
    
    
}

@media (max-width: 450px) {
    .moviesGrid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 130px);
        gap: 20px;
        padding: 40px;
        justify-content: center;
    }

    .title{

        margin-top: 6rem;
        padding: 0rem 0rem 0rem 3.5rem;
        color: #fff;
        font-size: 1rem;
        
        
    }
}


/* @media (max-width: 600px) {
    .title {
        text-align: left;
        padding-left: 3rem;
        font-size: 1.5rem;
    }
} */
