/* .title {
    text-align: left;
    padding-left: 8rem;
    color: #FFFF;
    font-size: 2rem;
}

@media (max-width: 500px) {
    .title {
        text-align: left;
        padding-left: 3rem;
    }
}
 */

